body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    transition: background-color 0.5s;
  }
  #imageContainer {
    text-align: center;  /* Centers the image in the div */
    margin: 20px 0;      /* Adds some space around the image */
  }
  
  #dynamicImage {
    width: 90%;          /* Makes the image responsive */
    max-width: 600px;    /* Limits the maximum width */
    height: auto;        /* Maintains aspect ratio */
    transition: transform 0.5s ease; /* Smooth transformation effect */
  }
  
  #dynamicImage:hover {
    transform: scale(1.1); /* Scales the image up when hovered */
  }
  
  h2 {
    color: #0066cc;
    text-align: center;
    cursor: pointer;
    transition: color 0.5s;
  }
  h2:hover {
    color: #004499;
  }
  ul, ol {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  a {
    color: #cc0000;
    transition: color 0.5s;
  }
  a:hover {
    color: #ff4500;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  li {
    text-align: center;
  }